language: node_js
node_js:
- '11'
env:
- NODE_ENV=development
script: 'true'
before_install:
- openssl aes-256-cbc -K $encrypted_7acb0decd2c2_key -iv $encrypted_7acb0decd2c2_iv
  -in travis_rsa.enc -out travis_rsa -d
- chmod 600 travis_rsa
deploy:
- provider: script
  skip_cleanup: true
  script: ssh-keyscan -H $host >> ~/.ssh/known_hosts; git push ssh://$sv_user@$host:$dir_path
    HEAD:master -f
  on:
    branch: master
